* {
  margin: auto;
  padding: 0;
}
.wrapper-desktop {
  display: inline-block;
}
.card-desktop {
  height: 100%;
  width: 70%;
  font-family: roboto;
  text-align: center;
  margin: 0.2% 15%;
}
.title {
  font-weight: bold;
  font-size: 1.2rem;
  color: blue;
}
.body-text {
  font-weight: lighter;
  font-size: medium;
  color: black;
}
