#myInput {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin: 3rem 0.2rem;
  /* background-image: url("../image/search.png"); */
}
.text {
  color: #0066ff;
  font-weight: bold;
}
